<!-- Pseudo -->
<div *ngIf="jeu == true" style="width: 100%;height: 240px;margin: auto;margin-top: 60px;">
    <table style="width: 90%;margin: auto;text-align: center;">
        <tr>
            <td>
                <div class="form-group">
                    <label for="pseudo">
                        <strong style="font-size: 22px;margin-top: 15px;color: black">Entrer votre Pseudo </strong>
                    </label>
                    <input required style="font-size: 22px;margin: auto;margin-top: 15px;width: 50%;text-align: center" type="text" [(ngModel)]='pseudo' class="form-control" id="pseudo" />
                    <h3 style="color: red;font-size: 13px;margin-top: 10px">{{msgErreur}}</h3>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary rounded" (click)="jouer();" style="font-size: 22px;margin-top: 15px;"><img src="./assets/images/de.png" style="width:50px" /></button>
            </td>
        </tr>

    </table>
</div>

<!-- Jeux -->
<div *ngIf="play == true" style="width: 80%;height: 240px;margin: auto;margin-top: 60px;">
    <table style="width: 100%;text-align: center">
        <tr>
            <td style="width: 15%">
                <img *ngIf="imageDe == true" style="width: 100px" [src]="de1" />
            </td>
            <td style="width: 15%">
                <img *ngIf="good === 'up'" style="width: 80px" src="./assets/images/up.png" />
                <img *ngIf="good == 'down'" style="width: 80px" src="./assets/images/down.png" />
            </td>
            <td style="width: 15%">
                <img *ngIf="imageDe == true" style="width: 100px" [src]="de2" />
            </td>
            <td rowspan="2" style="width: 15%;text-align: center">
                <table style="margin: auto">
                    <tr>
                        <td style="height: 30px">
                            <strong style="font-size: 20px;color: black;margin-top: 10px">Pseudo : {{pseudo}}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 30px">
                            <strong style="font-size: 20px;color: black;margin-top: 10px">Nombre Tour</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 30px">
                            <strong style="font-size: 20px;color: black;margin-top: 10px">{{nbrTour}}/{{nbrTourTotal}}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 30px">
                            <strong style="font-size: 20px;color: black;margin-top: 10px">Score</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 30px">
                            <strong style="font-size: 20px;color: black;margin-top: 10px">{{score}}</strong>
                        </td>
                    </tr>
                    <tr *ngIf="empty == false">
                        <td style="height: 30px;border: 1px solid black;padding: 5px 5px 5px 5px;">
                            <strong style="font-size: 20px;color: black;margin-top: 10px">Meilleur Score : {{meilleurScore}}</strong>
                        </td>
                    </tr>
                    <tr *ngIf="empty == true">
                        <td style="height: 30px;border: 1px solid black;padding: 5px 5px 5px 5px;">
                            <strong style="font-size: 20px;color: black;margin-top: 10px">Meilleur Score : 0</strong>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--<tr>
            <td colspan="3" style="width: 85%">
                <h1 *ngIf="scoreLancer != 0" style="font-size: 20px;color: black"><b>{{scoreLancer}}</b></h1>
            </td>
        </tr>-->
        <tr>
            <td colspan="3" style="width: 85%">
                <strong *ngIf="scoreLancer != 0" style="font-size: 20px;color: black;margin-top: 10px;">{{scoreLancer}}</strong><br>
                <button *ngIf="afficherButton == true" type="button" class="btn btn-primary rounded" (click)="lancer();" style="font-size: 22px;margin-top: 15px;">{{buttonJeu}}</button>
            </td>
        </tr>

    </table>
</div>


<!-- Gagner -->
<div *ngIf="result == 'v'" style="width: 80%;height: 240px;margin: auto;margin-top: 60px;">
    <table style="width: 100%;text-align: center">
        <tr>
            <td style="width: 100%">
                <img style="width: 150px" src="./assets/images/coupe.png" />
            </td>
        </tr>
        <tr>
            <td style="width: 100%;height: 30px">
                <strong style="font-size: 20px;color: green">Bravo vous avez gagner</strong>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;height: 30px">
                <strong style="font-size: 20px;color: black">Score : {{score}}</strong>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;height: 30px">
                <button type="button" class="btn btn-primary rounded" (click)="rejouer();" style="font-size: 22px;margin-top: 15px;">Rejouer</button>
            </td>
        </tr>

    </table>
</div>

<!-- Perdu -->
<div *ngIf="result == 'p'" style="width: 80%;height: 240px;margin: auto;margin-top: 60px;">
    <table style="width: 100%;text-align: center">
        <tr>
            <td style="width: 100%;height: 120px">
                <img style="width: 180px" src="./assets/images/game-over.png" />
            </td>
        </tr>
        <tr>
            <td style="width: 100%;height: 30px">
                <strong style="font-size: 20px;color: red">Malheureusement vous avez perdu</strong>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;height: 30px">
                <strong style="font-size: 20px;color: black">Score : {{score}}</strong>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;height: 30px">
                <button type="button" class="btn btn-primary rounded" (click)="rejouer();" style="font-size: 22px;margin-top: 15px;">Rejouer</button>
            </td>
        </tr>

    </table>
</div>