<div style="width: 80%;height: 240px;margin: auto;margin-top: 60px;">
    <table style="width: 100%;text-align: center">
        <tr>
            <td style="width: 100%;height: 100px">
                <img style="width: 150px" src="./assets/images/dice-games.png" />
            </td>
        </tr>
        <tr>
            <td style="width: 100%;height: 50px">
                <strong style="font-size: 20px;color: black">La règle est simple: vous marquez 10 points lorsque la somme de la valeur des dés vaut 7.</strong>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;height: 50px">
                <strong style="font-size: 20px;color: black">Vous pouvez paramétrer le nombre de tours. ainsi que la maniere du stockage.</strong>
            </td>
        </tr>

    </table>
</div>