<div style="width: 80%;height: 240px;margin: auto;margin-top: 60px;">
    <table style="width: 100%;text-align: center">
        <tr>
            <td style="width: 100%;height: 100px">
                <img style="width: 150px" src="./assets/images/404.png" />
            </td>
        </tr>
        <tr>
            <td style="width: 100%;height: 50px">
                <strong style="font-size: 20px;color: black">Erreur Page non trouvée.</strong>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;height: 50px">
                <strong style="font-size: 20px;color: black">Nous avons regardé partout mais nous ne pouvions pas le trouver !</strong>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;height: 30px">
                <button type="button" class="btn btn-primary rounded" style="font-size: 22px;margin-top: 15px;">Accueil</button>
            </td>
        </tr>

    </table>
</div>